<div class="container">
    <div class="container_left">
        <div class="container_left_homeLogo"></div>
    </div>
    <div class="container_right">
        <span class="container_right_title">SECURITY SERVER</span>
        <label class="container_right_subtitle">
            <span class="container_right_subtitle_orange">Login </span>
            <span class="container_right_subtitle_text">Your account</span>
        </label>
        <form [formGroup]="parentForm" class="container_right_form" autocomplete="off">
            <app-input [parentForm]="parentForm" name="email" type="text" placeholder="Email"></app-input>
            <div *ngIf="submitted && formControls['email'].errors">
                <span class="container_right_form_error" *ngIf="formControls['email'].errors['required']">Email required</span>
                <span class="container_right_form_error" *ngIf="formControls['email'].errors['email']">Email not compliant</span>
            </div>
            <app-input [parentForm]="parentForm" name="password" type="password" placeholder="Password"></app-input>
            <div *ngIf="submitted && formControls['password'].errors">
                <span class="container_right_form_error" *ngIf="formControls['password'].errors['required']">Password required</span>
            </div>
            <app-button (click)="onSubmit()" text="Login"></app-button>
            <div *ngIf="error">
                <span class="container_right_form_error">{{error}}</span>
            </div>
        </form>
    </div>
</div>
