.container {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    
    &_left {
        display: flex;
        background: linear-gradient(90deg, #F6693C 0%, #F69D3C 100%);
        width: 50%;
        justify-content: space-around;
        align-items: center;

        &_homeLogo {
            background-image: url('../../assets/cyber-security.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 70%;
            height: 60%;
        }
    }

    &_right {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;

        &_title {
            background: -webkit-linear-gradient(90deg, #f95300 0%, #f1a85a 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;
            font-size: 45px;
            padding-bottom: 15%;
            padding-top: 5%;
        }

        &_subtitle {
            padding-bottom: 5%;

            &_orange {
                font-size: 35px;
                color: orange;
            }
            
            &_text {
                font-size: 35px;
            }
        }

        &_form {
            display: flex;
            flex-direction: column;
            align-items: center;

            &_error {
                color: red;
                top: -100%;
                font-size: 16px;
                font-weight: bold;
                position: relative;
            }
        }
    }
}

app-input {
    padding-bottom: 8%;
}

app-button {
   margin-top: 20%;
}

