<app-toolbar></app-toolbar>
<div class="application-edit">
    <span class="application-edit_text">Create application</span>
    <form [formGroup]="parentForm" class="application-edit_form">
        <app-input class="application-edit_form_input" [parentForm]="parentForm" name="name" type="text" placeholder="Name"></app-input>
        <app-input class="application-edit_form_input" [parentForm]="parentForm" name="url" type="text" placeholder="Url"></app-input>
        <app-text-area class="application-edit_form_textarea" [parentForm]="parentForm" name="description" placeholder="Write a description..."></app-text-area>
        <div class="application-edit_form_buttons">
            <app-button (click)="onSubmit()" text="Create"></app-button>
            <app-button routerLink="/applications" text="Back"></app-button>
        </div>
    </form>
</div>

<!-- <div class="application-edit_form_container">
        <app-button class="application-edit_form_container_button" text="Add a user"></app-button>

        USER TABLEAU
    </div> -->