<table class="table">
        <tr>
            <th>Name</th>
            <th>Url</th>
            <th>Description</th>
            <th colspan="2">Actions</th>
        </tr>
        <tr *ngFor="let application of applications">
            <td>{{application.name}}</td>
            <td><a href={{application.url}}>{{application.url}}</a></td>
            <td>{{application.description}}</td>
            <td><div class="edit"></div></td>
            <td><div class="delete" (click)="delete.emit()"></div></td>
        </tr>
       
</table>
