<app-toolbar></app-toolbar>
<div class="application">
    <span class="application_text">All applications</span>

    <ng-container *ngIf="applications$ | async as applications; else loading">
        <app-application-tab class="application_tab" [applications]="applications" (delete)="delete()" ></app-application-tab>

        <app-button routerLink="/admins/applications/edit" class="application_button" text="Create new app"></app-button>
    </ng-container>
    <ng-template #loading>
        <div class="application_loading">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
    </ng-template>
    
</div>