<app-toolbar></app-toolbar>
<div class="application">
    <span class="application_text">All applications</span>

    <ng-container *ngIf="applications$ | async as applications; else loading">
        <app-application-tab class="application_tab" [applications]="applications" (delete)="openDeleteModal($event)" ></app-application-tab>

        <app-button routerLink="/admins/applications/edit" class="application_button" text="Create new app"></app-button>
    </ng-container>
    <ng-template #loading>
        <div class="application_loading">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
    </ng-template>
    
</div>

<div class="grey_shade" [style.display]="deleteModalStyle">
    <div class="application_modal">
        <div class="application_modal_head">
            <label class="application_modal_head_title">Delete an application</label>
        </div>
        <form class="application_modal_body" [formGroup]="parentForm">
            <div class="application_modal_body_info">
                <span class="application_modal_body_info_text">Confirm the application's name :</span>
                <app-input class="application_modal_body_info_input" [parentForm]="parentForm" name="appName" type="text"></app-input>
            </div>
            <div class="application_modal_body_button">
                <button class="application_modal_body_button_yes" (click)="closeDeleteModal()">Cancel</button>
                <button class="application_modal_body_button_no" (click)="delete()">Delete</button>
            </div>
        </form>
    </div>
</div>